/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* .main > div {
  margin-bottom: 120px;
} */

/* Nav Header Section */

.nav {
  background-color: #000000;
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
}

.nav-container {
  background-color: #add8e6;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  height: 40px;
  width: 35px;
  flex-basis: 17%;
  background-color: #daa520;
  border: 3px dotted black;
  align-self: center;
  margin-left: 20%;
}

.link {
  height: 40px;
  width: 35px;
  flex-basis: 66%;
  background-color: #daa520;
  border: 3px dotted black;
  flex-grow: 1;
  align-self: center;
}

.login {
  height: 40px;
  width: 35px;
  flex-basis: 17%;
  background-color: #daa520;
  border: 3px dotted black;
  align-self: center;
  margin-right: 20%;
}
.header-container {
  background-color: #00008b;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 50px; */
}

.main-header {
  background-color: #ee82ee;
  border: 3px dotted black;
  min-width: 300px;
  min-height: 400px;
  margin: 50px 500px;
}

/* End */

/* Row Colors */

.bgcolor-w {
  background-color: #fff;
}

.bgcolor-g {
  background-color: #d3d3d3;
}

.bgcolor-p {
  background-color: #f08080;
}

.bgcolor-lg {
  background-color: #20b2aa;
}

.conteiner-main {
  min-height: 500px;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-img {
  background-color: #1e90ff;
  border: 3px dotted black;
  min-height: 400px;
  width: 700px;
  /* flex-basis: 300px%; */
  /* flex-grow: 1; */
}

.container-info {
  background-color: #ffc0cb;
  border: 3px dotted black;
  min-height: 400px;
  min-width: 500px;
}

.container-rectangle {
  min-height: 1100px;
  min-width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.green-rectangle {
  background-color: #228b22;
  border: 3px dotted black;
  height: 1000px;
  width: 1200px;
}

/* Top-Footer */
.top-footer {
  background-color: #23272a;
  min-height: 500px;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-row {
  border: 3px dotted black;
  height: 470px;
  width: 400px;
}
.product-row {
  border: 3px dotted black;
  height: 470px;
  width: 200px;
}
.company-row {
  border: 3px dotted black;
  height: 470px;
  width: 200px;
}
.resources-row {
  border: 3px dotted black;
  height: 470px;
  width: 200px;
}
.name-row {
  border: 3px dotted black;
  height: 470px;
  width: 200px;
}

/* Bottom-Footer */

.bottom-footer {
  background-color: #23272a;
  min-height: 100px;
  /* flex-basis: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.container-btn-footer {
  /* border: 3px dotted black; */
  background-color: #7fffd4;
  height: 70px;
  width: 1200px;
  margin-bottom: 0;
  /* -------------------- */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-logo {
  border: 3px dotted black;
  height: 25px;
  width: 50px;
  background-color: #ffb6c1;
}

.mini-btn {
  border: 3px dotted black;
  height: 25px;
  width: 50px;
  background-color: #ffb6c1;
}

.top-footer {
  margin-bottom: 2px;
}

.bottom-footer {
  margin-bottom: 2px;
}
